body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  padding: 20px;
}

.header {
  margin-bottom: 20px;
}

.column__container {
  max-height: 100vh;
  display: flex;
}

.column {
  flex: 1;
  margin-right: 20px;
}

.section {
  margin-bottom: 20px;
}

.status {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.status__circle {
  height: 15px;
  width: 15px;
  margin-right: 5px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.status__circle--success {
  background-color: rgb(48, 221, 57);
}

.status__circle--error {
  background-color: rgb(244, 66, 66);
}

h1 {
  margin-bottom: 5px;
}

h4 {
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 10px;
}

code {
  font-family: "Inconsolata", monospace;
}

button {
  margin-left: 5px;
}

.console {
  margin-top: 10px;
}

.logs {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.6);
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.3s ease all;
}

.logs .terminal {
  width: 80%;
}

.hide {
  opacity: 0;
  transform: translateY(100%);
  pointer-events: none;
}
