body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  padding: 20px;
}

.header {
  margin-bottom: 20px;
}

.column__container {
  max-height: 100vh;
  display: flex;
}

.column {
  flex: 1;
  margin-right: 20px;
}

.section {
  margin-bottom: 20px;
}

.status {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.status__circle {
  height: 15px;
  width: 15px;
  margin-right: 5px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.status__circle--success {
  background-color: rgb(48, 221, 57);
}

.status__circle--error {
  background-color: rgb(244, 66, 66);
}

h1 {
  margin-bottom: 5px;
}

h4 {
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 10px;
}

code {
  font-family: "Inconsolata", monospace;
}

button {
  margin-left: 5px;
}

.console {
  margin-top: 10px;
}

.logs {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.6);
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.3s ease all;
}

.logs .terminal {
  width: 80%;
}

.hide {
  opacity: 0;
  transform: translateY(100%);
  pointer-events: none;
}

.message--info {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 400;
}

.message--info a {
  color: black;
}

.request__list_container {
  height: 25vh;
  overflow-y: scroll;
}

.request__row {
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 10px;
  cursor: pointer;
}

.request__row:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.request__row--selected {
  background-color: #356FFF;
  color: white;
}

.request__row--selected:hover {
  background-color: #356FFF;
}

.request__meta {
  font-family: Inconsolata;
  font-size: 14pt;
  flex: 3;
  display: flex;
  align-items: center;
}

.request__ts {
  font-size: 12pt;
  flex: 2;
  text-align: right;
}

.request__container {
  padding-top: 10px;
  padding-left: 10px;
}

.request__breakdown {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

.request__status {
  display: flex;
  margin-bottom: 5px;
}

.request__container h2 {
  font-family: Inconsolata;
  font-weight: 400;
  margin-bottom: 10px;
}

.request__block {
  flex: 1;
  padding-right: 10px;
}

.request__container h3 {
  text-transform: uppercase;
  font-size: 10pt;
  font-weight: 900;
}

.request__block p {
  font-family: Inconsolata;
}

.request__log {
  font-family: Inconsolata;
  background-color: black;
  color: white;
  margin-top: 5px;
  padding: 15px;
  border-radius: 10px;
  max-height: 250px;
  overflow-y: scroll;
}
